@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
	--gray-dark: #202123;
	--white: #fff;
	--black: #000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.content{
	display: flex;
}

#redacao{
	width: 100%;
	resize: none;
	height: 80px;
}

.box__redacao{
	display: flex;
	align-items: center;

	width: 100%;
	position: fixed;
	bottom: 1px;

}

.box__redacao input{
	width: 50px;
	height: 80px;
	outline: none;
}

/************************ burguer **************************/

